// main scss

// ------- variables

$squareSize: 250px;

// ------ START

#box
{
    font-family: sans-serif;
    line-height: $squareSize;
    // display: none;

    width: $squareSize;
    height: $squareSize;
    margin: 0 auto;

    text-align: center;

    border-radius: 5px;
    background-color: #67bcfc;
}

#buttonContainer
{
    position: absolute;
    top: 270px;

    width: 100%;
    margin: 20px 0;

    text-align: center;
}

.button
{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 60px;

    display: inline-block;

    width: 100px;
    height: 60px;

    transition: .33s;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;
    background-color: #b61e36;

    &:hover
    {
        font-size: 16px;
    }
    &:active
    {
        font-size: 15px;
    }
}
